In [32]:
import pandas as pd
data_list = []
columns = ['route',
 'name',
 'type',
 'departure_time',
 'arrival_time',
 'duration',
 'price',
 'seats_available',
 'rating']

files_list = [
            'Jammu_kashmir_buses.csv',
            'KAAC_buses.csv',
            'West_bengal_buses.csv',
            'NORTH_BENGAL_buses.csv',
            'Bihar_buses.csv',
            'Chandigarh_buses.csv',
            'West_Bengal_ctc_buses.csv',
            'Uttar_Pradesh_buses.csv',
            'Assam_buses.csv',
            'Punjab_buses.csv',
            'south_Bengal_buses.csv',
            'Telangana_buses.csv',
            'Rajasthan_buses.csv',
            'Kerala_buses.csv',
            'Himachal_Pradesh_buses.csv',
            'Goa_buses.csv',
            'Andhra_Pradesh_buses.csv']


for file in files_list:
    df = pd.read_csv(file)
    df = df[columns]
    data_list.append(df)
    
file_data = pd.concat(data_list)
file_data = file_data.reset_index(drop = True)
file_data[['from_place', 'to_place']] = file_data['route'].str.split(' to ', expand=True)

In [33]:

data=pd.read_csv("All_Bus_data_Collated.csv")
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),20:15,06:15,10h 00m,679,33 Seats available,1.5,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,637,34 Seats available,1.1,Jammu (j and k),Srinagar
2,Jammu (j and k) to Haridwar,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,09:30,12h 40m,568,15 Seats available,4.3,Jammu (j and k),Haridwar
3,Jammu (j and k) to Haridwar,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,08:55,12h 55m,INR 900,23 Seats available,4.1,Jammu (j and k),Haridwar
4,Jammu (j and k) to Haridwar,City Land Travels,A/C Seater/Sleeper (2+1),20:30,09:00,12h 30m,585,22 Seats available,3.3,Jammu (j and k),Haridwar
...,...,...,...,...,...,...,...,...,...,...,...
10443,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:35,07:20,07h 45m,1170,17 Seats available,4.4,Anantapur (andhra pradesh),Hyderabad
10444,Anantapur (andhra pradesh) to Hyderabad,Morning Star Travels,NON A/C Sleeper (2+1),23:05,06:15,07h 10m,INR 790,3 Seats available,2.2,Anantapur (andhra pradesh),Hyderabad
10445,Anantapur (andhra pradesh) to Hyderabad,S.L Travels,A/C Sleeper (2+1),23:45,06:35,06h 50m,INR 1200,7 Seats available,3.9,Anantapur (andhra pradesh),Hyderabad
10446,Anantapur (andhra pradesh) to Hyderabad,Northern Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:00,23:58,04h 58m,INR 999,12 Seats available,2.0,Anantapur (andhra pradesh),Hyderabad
10447,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:40,06:55,07h 15m,895,11 Seats available,No rating,Anantapur (andhra pradesh),Hyderabad

In [34]:

def change_name(x):
    return x.str.replace(r'[A-Za-z]+', '', regex=True)
data['price']=data['price'].transform(change_name)

In [35]:

data['seats_available']=data['seats_available'].transform(change_name)
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),20:15,06:15,10h 00m,679,33,1.5,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,637,34,1.1,Jammu (j and k),Srinagar
2,Jammu (j and k) to Haridwar,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,09:30,12h 40m,568,15,4.3,Jammu (j and k),Haridwar
3,Jammu (j and k) to Haridwar,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,08:55,12h 55m,900,23,4.1,Jammu (j and k),Haridwar
4,Jammu (j and k) to Haridwar,City Land Travels,A/C Seater/Sleeper (2+1),20:30,09:00,12h 30m,585,22,3.3,Jammu (j and k),Haridwar
...,...,...,...,...,...,...,...,...,...,...,...
10443,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:35,07:20,07h 45m,1170,17,4.4,Anantapur (andhra pradesh),Hyderabad
10444,Anantapur (andhra pradesh) to Hyderabad,Morning Star Travels,NON A/C Sleeper (2+1),23:05,06:15,07h 10m,790,3,2.2,Anantapur (andhra pradesh),Hyderabad
10445,Anantapur (andhra pradesh) to Hyderabad,S.L Travels,A/C Sleeper (2+1),23:45,06:35,06h 50m,1200,7,3.9,Anantapur (andhra pradesh),Hyderabad
10446,Anantapur (andhra pradesh) to Hyderabad,Northern Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:00,23:58,04h 58m,999,12,2.0,Anantapur (andhra pradesh),Hyderabad
10447,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:40,06:55,07h 15m,895,11,No rating,Anantapur (andhra pradesh),Hyderabad

In [36]:
data['rating'] = pd.to_numeric(data['rating'], errors='coerce')
data['rating']=data['rating'].fillna(0)
data['rating']=data['rating'].astype('float64')

In [37]:
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),20:15,06:15,10h 00m,679,33,1.5,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,637,34,1.1,Jammu (j and k),Srinagar
2,Jammu (j and k) to Haridwar,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,09:30,12h 40m,568,15,4.3,Jammu (j and k),Haridwar
3,Jammu (j and k) to Haridwar,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,08:55,12h 55m,900,23,4.1,Jammu (j and k),Haridwar
4,Jammu (j and k) to Haridwar,City Land Travels,A/C Seater/Sleeper (2+1),20:30,09:00,12h 30m,585,22,3.3,Jammu (j and k),Haridwar
...,...,...,...,...,...,...,...,...,...,...,...
10443,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:35,07:20,07h 45m,1170,17,4.4,Anantapur (andhra pradesh),Hyderabad
10444,Anantapur (andhra pradesh) to Hyderabad,Morning Star Travels,NON A/C Sleeper (2+1),23:05,06:15,07h 10m,790,3,2.2,Anantapur (andhra pradesh),Hyderabad
10445,Anantapur (andhra pradesh) to Hyderabad,S.L Travels,A/C Sleeper (2+1),23:45,06:35,06h 50m,1200,7,3.9,Anantapur (andhra pradesh),Hyderabad
10446,Anantapur (andhra pradesh) to Hyderabad,Northern Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:00,23:58,04h 58m,999,12,2.0,Anantapur (andhra pradesh),Hyderabad
10447,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:40,06:55,07h 15m,895,11,0.0,Anantapur (andhra pradesh),Hyderabad

In [38]:
data['seats_available'] = pd.to_numeric(data['seats_available'], errors='coerce')
data['seats_available']=data['seats_available'].fillna(0)
data['seats_available']=data['seats_available'].astype('int64')
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),20:15,06:15,10h 00m,679,33,1.5,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,637,34,1.1,Jammu (j and k),Srinagar
2,Jammu (j and k) to Haridwar,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,09:30,12h 40m,568,15,4.3,Jammu (j and k),Haridwar
3,Jammu (j and k) to Haridwar,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,08:55,12h 55m,900,23,4.1,Jammu (j and k),Haridwar
4,Jammu (j and k) to Haridwar,City Land Travels,A/C Seater/Sleeper (2+1),20:30,09:00,12h 30m,585,22,3.3,Jammu (j and k),Haridwar
...,...,...,...,...,...,...,...,...,...,...,...
10443,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:35,07:20,07h 45m,1170,17,4.4,Anantapur (andhra pradesh),Hyderabad
10444,Anantapur (andhra pradesh) to Hyderabad,Morning Star Travels,NON A/C Sleeper (2+1),23:05,06:15,07h 10m,790,3,2.2,Anantapur (andhra pradesh),Hyderabad
10445,Anantapur (andhra pradesh) to Hyderabad,S.L Travels,A/C Sleeper (2+1),23:45,06:35,06h 50m,1200,7,3.9,Anantapur (andhra pradesh),Hyderabad
10446,Anantapur (andhra pradesh) to Hyderabad,Northern Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:00,23:58,04h 58m,999,12,2.0,Anantapur (andhra pradesh),Hyderabad
10447,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:40,06:55,07h 15m,895,11,0.0,Anantapur (andhra pradesh),Hyderabad

In [39]:
data['price'] = pd.to_numeric(data['price'], errors='coerce')
data['price']=data['price'].fillna(0)
data['price']=data['price'].astype('int64')
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),20:15,06:15,10h 00m,679,33,1.5,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,637,34,1.1,Jammu (j and k),Srinagar
2,Jammu (j and k) to Haridwar,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,09:30,12h 40m,568,15,4.3,Jammu (j and k),Haridwar
3,Jammu (j and k) to Haridwar,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,08:55,12h 55m,900,23,4.1,Jammu (j and k),Haridwar
4,Jammu (j and k) to Haridwar,City Land Travels,A/C Seater/Sleeper (2+1),20:30,09:00,12h 30m,585,22,3.3,Jammu (j and k),Haridwar
...,...,...,...,...,...,...,...,...,...,...,...
10443,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:35,07:20,07h 45m,1170,17,4.4,Anantapur (andhra pradesh),Hyderabad
10444,Anantapur (andhra pradesh) to Hyderabad,Morning Star Travels,NON A/C Sleeper (2+1),23:05,06:15,07h 10m,790,3,2.2,Anantapur (andhra pradesh),Hyderabad
10445,Anantapur (andhra pradesh) to Hyderabad,S.L Travels,A/C Sleeper (2+1),23:45,06:35,06h 50m,1200,7,3.9,Anantapur (andhra pradesh),Hyderabad
10446,Anantapur (andhra pradesh) to Hyderabad,Northern Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:00,23:58,04h 58m,999,12,2.0,Anantapur (andhra pradesh),Hyderabad
10447,Anantapur (andhra pradesh) to Hyderabad,Zingbus Plus,A/C Sleeper (2+1),23:40,06:55,07h 15m,895,11,0.0,Anantapur (andhra pradesh),Hyderabad

In [40]:
data.to_csv("Final_data.csv",index = False)

In [41]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
 
host = "localhost"
port = "3306"
username = "root"
password = "8610831486"
database = "red_bus"
 
engine_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(engine_string)
 
table_name = "bus_details"
#df = pd.read_csv('tenstate.csv')
data.to_sql(table_name, engine,if_exists='replace',index=False)
print("success")

success